html {
    scroll-behavior: smooth;
}

body {
    background-image: url(https://titan.csit.rmit.edu.au/~s3770419/media/backgroundimage.jpg);
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h1 {
    font: boulder
    }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;    ;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    position: fixed;
    top: 0;
    width: 100%;
    }

li {
    float: left;
}


li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    border-bottom: 1px solid #555;
    text-align: center;
}

li a:hover {
    background-color: #555;
    color: white;
}

.active {
    background-color: #4CAF50;

h1 {
    font: Helvetica
    font-size: 40px;
    background-color: green;
}

html {
    scroll-behavior: smooth;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

label {
  border-radius: 5px;
background-color: yellow;
  padding: 20px;
}